<mat-toolbar 
  ><h2>Angular + Observables =🔥</h2>
  <p>Handling HTTP Requests using Observables</p>
  <p></p
></mat-toolbar>
<div class="getPosts">
  <input
    mat-input
    class="flex-child md"
    #userID
    type="number"
    value=""
    placeholder="enter user ID 1 - 10"
    min="1"
    maxLength="10"
  />
  <button
    mat-button
    color="primary"
    type="submit"
    mat-raised-button
    class="flex-child md"
    (click)="getPosts(userID.value)"
  >
    Search
  </button>
</div>

<div *ngIf="loaded; else loadingBlock">
  <mat-card *ngFor="let post of posts">
    <mat-card-title>postID : {{ post?.id }}</mat-card-title>

    <mat-card-subtitle
      ><span>postTitle: {{ post?.title }}</span>
      <span style="float:right">postUserID: {{ post?.userId }}</span></mat-card-subtitle
    >
    <mat-card-content>postBody: {{ post?.body }}</mat-card-content>
    <hr />
  </mat-card>
</div>

<ng-template #loadingBlock>
  <mat-progress-spinner> </mat-progress-spinner>
</ng-template>

<button mat-button (click)="createPost()">Create Post</button>
<hr />

<div *ngIf="newPost">
  {{ newPost | async | json }}
</div>

<router-outlet></router-outlet>
